/* prevent vertical scroll bar glitch */

.carousel {
    background: #EEE;
}

// Main container that holds the carousel objects
.ws-card {
    background-color: white;
    border-top: 2px solid white;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 16vh;

    h1 {
        font-size: 1em;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-left: 10px;
        margin: none;
        text-transform: lowercase;
        font-weight: 800;
        z-index: 1;
        // border: 1px solid red;
    }

}

.main-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}
.carousel-cell {
    display: flex;
    align-items: center;

    width: 100%;
    height: 100px;
    padding: 0 30px;

    h2 {
        padding: 0 20px;
        width: 100%;
        font-size: 2em;
        line-height: 1em;
        font-weight: 800;
        @media screen and (max-width: 375px) {
            font-size: 1.4em;
        }
    }
    h2.small-title{
        font-size: 1.5em;
        line-height: 1em;
        color: white;
        @media screen and (max-width: 375px) {
            font-size: 1.1em;
        }
    }

    h2.large-title{
        font-size: 2.6em;
        color: white;
        line-height: 1em;
        @media screen and (max-width: 320px) {
            font-size: 2em;
        }

    }
}

.title-selector {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    h2 {
        display: flex;
        flex-direction: column;
    }
}


/* no circle */
.flickity-button {
  background: transparent;
}
/* big previous & next buttons */
.flickity-prev-next-button {
}
/* icon color */
.flickity-button-icon {
  fill: white;
}

.flickity-button:hover {
  // background-color: rgba(0,0,0,0.5);
  background: transparent;
}
