@import "bulma";
@import "carousel";
@import "info-modal";
@import "login-modal";
@import "menu-modal";

html {
    box-sizing: border-box;
    background-color: #ffffff;
    color: #222222;
    font-family: helvetica;
    overflow-y: scroll;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}

#content-parent {
    padding: 0px;
}

#content {

}

// Navigation
.ws-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background-color: white;
    font-size: 1em;
    padding: 0 20px;
}

h2 {
    text-align: center;
    font-size: 2em;
    letter-spacing: -0.03em;
    line-height: 0.85em;
    user-select: none;
}

.icon-logo, .icon-info, .icon-share {
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url("../images/logo.png");
    background-size: cover;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.icon-info {
    width: 32px;
    height: 32px;
    background-image: url("../images/info.png");

}

.icon-share {
    width: 32px;
    height: 32px;
    background: none;

}

.close-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
}

.icon-logo:hover, .icon-info:hover {
    cursor: pointer;
}

.is-horizontal-center {
  justify-content: center;
}
