@import "bulma";

html {
    box-sizing: border-box;
    background-color: #ffffff;
    color: #222222;
    font-family: helvetica;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}
#content-parent {
    padding: 0px;
}

#content {
    // display: flex;
    // flex-direction: column;
    // height: 100vh;
}
#title-overlay {
    // position: fixed; /* Stay in place */
    // left: 0;
    // top: 0;
    // width: 100%; /* Full width */
    // height: 100%; /* Full height */
    // overflow: auto; /* Enable scroll if needed */
    // background-color: rgb(0,0,0); /* Fallback color */
    // background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    .options-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .selection-box{
        }
        h2 {
            padding-right: 30px;
            padding-top: 12px;
            padding-bottom: 12px;
            color: white;
            text-align: right;
            font-size: 1.3em;
            font-weight: 800;

        }
        h2:hover {
            color: magenta;
            cursor: pointer;
        }
    }
}

.ws-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    background-color: white;
    font-size: 1em;
    padding: 0 20px;
}
.ws-card {
    background-color: white;
    border-top: 2px solid white;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 16vh;

    h1 {
        font-size: 1em;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-left: 10px;
        margin: none;
        text-transform: lowercase;
        font-weight: 800;
        z-index: 1;
        // border: 1px solid red;
    }

}

.title-selector {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    h2 {
        display: flex;
        flex-direction: column;
    }
    .color-icon {
        display: flex;
        flex-direction: column;
        width: 20px;
        height: 20px;
        background-color: magenta;
    }
}

h2 {
    text-align: center;
    font-size: 2em;
    letter-spacing: -0.03em;
    line-height: 0.85em;
    user-select: none;
}




.close-icon {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
}

.icon-logo, .icon-info, .icon-share {
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url("../images/logo.png");
    background-size: cover;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.icon-info {
    width: 32px;
    height: 32px;
    background-image: url("../images/info.png");

}

.icon-share {
    width: 32px;
    height: 32px;
    background: none;

}

.icon-logo:hover, .icon-info:hover {
    cursor: pointer;
}

#info {
    .modal-background {
        // background-color: rgba(255,255,255,0.9);
        background-color: white;
    }
    .modal-content {
        text-align: center;
        justify-content: center;
        h1 {
            color: #222222;
            font-size: 2em;
            font-weight: 800;
            letter-spacing: -0.05em;
        }

        .info-title {
            color: #222222;
            font-size: 1.8em;
            font-weight: 800;
            letter-spacing: -0.04em;
        }
        .subtitle {
            color: #AAAAAA;
            font-size: 1.2em;
            letter-spacing: -0.04em;
            font-weight: 800;
            margin-top: -0.4em;
            margin-bottom: 2em;
        }
        .spacer-bottom{
            height: 100px;
        }
    }
}

.is-horizontal-center {
  justify-content: center;
}
